<% if (theme.disqus.shortname) { %>
  <div class="disqus" style="width:100%">

    <p style="text-align: center;color: #a3a3a3;font-size: 14px;margin-top: 60px;">留言可能不會立即顯示。若過了幾天仍未出現，請 <a href="mailto:honmonoh@gmail.com">Email</a> 聯繫：）</p>

    <div id="disqus_thread"></div>
    <% if (theme.disqus.disqusjs) { %>
      <script>
        Fluid.utils.loadComments('#disqus_thread', function() {
          Fluid.utils.createCssLink('<%= url_join(theme.static_prefix.disqusjs, 'disqusjs.css') %>');
          Fluid.utils.createScript('<%= url_join(theme.static_prefix.disqusjs, 'disqus.js') %>', function() {
            new DisqusJS({
              shortname: '<%= theme.disqus.shortname %>',
              apikey: '<%= theme.disqus.apikey %>'
            });
          });
        });
      </script>
    <% } else { %>
      <script type="text/javascript">
        var disqus_config = function() {
          this.page.url = '<%= page.permalink %>';
          this.page.identifier = '<%= url_for(page.path) %>';
        };
        Fluid.utils.loadComments('#disqus_thread', function() {
          var d = document, s = d.createElement('script');
          s.src = '//' + '<%= theme.disqus.shortname %>' + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', new Date());
          (d.head || d.body).appendChild(s);
        });
      </script>
    <% } %>
    <noscript>Please enable JavaScript to view the comments</noscript>
  </div>
<% } %>
