<%
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = parseFloat(page.banner_img_height || theme.index.banner_img_height)
var banner_mask_alpha = parseFloat(page.banner_mask_alpha || theme.index.banner_mask_alpha)
var title = page.title
var subtitle = page.subtitle
%>

<div id="banner" class="banner" <%- theme.banner && theme.banner.parallax && 'parallax=true' %>
     style="background: url('<%- url_for(banner_img) %>') no-repeat center center; background-size: cover;">
  <div class="full-bg-img">
    <div class="mask flex-center" style="background-color: rgba(0, 0, 0, <%= parseFloat(banner_mask_alpha) %>)">
      <div class="banner-text fade-in-up">

        <div class="post-metas my-3">
          <% if (page.categories && page.categories.length > 0) { %>
            <div class="post-meta mr-3 d-flex align-items-center">
              <i class="fa fa-folder"></i>
              <%- partial('_partials/category-chains', { categories: page.categories }) %>
            </div>
          <% } %>
          <% if (page.tags && page.tags.length > 0 ) { %>
            <div class="post-meta">
              <i class="fa fa-tag"></i>
              <% page.tags.each(function(tag) { %>
                <a href="<%= url_for(tag.path) %>" class="print-no-link">#<%- tag.name %></a>
              <% }) %>
            </div>
          <% } %>
        </div>

        <div class="h2">
          <span id="title"></span><%- title %></span>
        </div>

        <% if (is_post()) { %>
          <% if(subtitle) { %>
          <div class="h4">
            <% if(theme.fun_features.typing.enable && in_scope(theme.fun_features.typing.scope)) { %>
              <span id="subtitle" data-typed-text="<%= subtitle %>"></span>
            <% } else { %>
              <span id="subtitle"><%- subtitle %></span>
            <% } %>
          </div>
          <% } %>
          <%- inject_point('postMetaTop') %>
        <% } %>
      </div>

      <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height && page.layout !== '404') { %>
        <div class="scroll-down-bar">
          <i class="fa fa-angle-down"></i>
        </div>
      <% } %>
    </div>
  </div>
</div>
