---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getUniqueCategories from "@utils/getUniqueCategories";
import { SITE } from "@config";
import { _t } from "lang/lang";

const posts = await getCollection("blog");

let categories = getUniqueCategories(posts);
---

<Layout title={`${_t.categories} | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main pageTitle={_t.categories} pageDesc={_t.categoriesDesc}>
    <ul class="flex flex-col space-y-6">
      {
        categories.map(({ category, categoryName, count }) => (
          <li>
            <a
              href={`/categories/${category}`}
              class="text-skin-accent hover:underline"
            >
              {categoryName}
            </a>
            <span class="rounded-full bg-skin-card/60 px-2 py-0.5">
              {count}
            </span>
          </li>
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
