---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import ListItem from "@components/ListItem";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { _t } from "lang/lang";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`${_t.archives.title} | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle={_t.archives.title} pageDesc={_t.archives.desc}>
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <ListItem href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
